<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>

<body>

<!-- Перегляд індикатору -->
<div class="thumbnail">
    <div style="margin: 10px; margin-left: 20px; margin-right: 20px">
        <div ng-controller="SkillsCtrl">
            <div ng-init="getSkill(getRouteParamSkillID_IndicatorCtrl())"></div>

            <div ng-if="skillData != null && skillData != -1">
                <h2>Компетенція:</h2>
                <h3 ng-bind="skillData[0].name"></h3>
                <h4 ng-bind="'Група: ' + skillData[0].path"></h4>
                <h4 ng-bind="'Користувач: ' + skillData[0].user"></h4>

                <div ng-controller="IndicatorsCtrl">
                    <div ng-init="getIndicator(getRouteParamIndicatorID_IndicatorCtrl(), 1)"></div>
                    <div ng-if="indicatorData != null && indicatorData != -1">
                        <h2>Інформація про індикатор:</h2>
                        <h3 ng-bind="nameText"></h3>
                        <h4 ng-bind="'Користувач: ' + indicatorData[0].user"></h4>
                        <h4 ng-if="descriptionText" ng-bind="'Опис: ' + descriptionText"></h4>

                        <a ng-if="$user" href="#skill/{{getRouteParamSkillID_IndicatorCtrl()}}/indicator/{{getRouteParamIndicatorID_IndicatorCtrl()}}/edit"><button style="margin-bottom: 5px" class="btn btn-primary" type="button">Редагувати індикатор</button></a>
                        <a href="#skill/{{getRouteParamSkillID_IndicatorCtrl()}}/show"><button style="margin-bottom: 5px" class="btn btn-primary" type="button">Назад до компетенції</button></a>
                    </div>

                    <div ng-if="indicatorData==null" style="text-align: center">
                        <img src="assets/img/loading.gif"  width="120px" heidht ="120px">
                    </div>

                    <div ng-if="indicatorData == -1">
                        <div class="alert alert-warning">
                            <h4><b>Увага!</b></h4>
                            <p style="margin-bottom: 10px">Не вдалося отримати індикатор (id=<span ng-bind="getRouteParamIndicatorID_IndicatorCtrl()"></span>) компетенції (id=<span ng-bind="getRouteParamSkillID_IndicatorCtrl()"></span>)!</p>
                            <a href="#skill/{{getRouteParamSkillID_IndicatorCtrl()}}/show"><button style="margin-bottom: 5px" class="btn btn-primary" type="button">До компетенції</button></a>
                            <a href="#main"><button style="margin-bottom: 5px" class="btn btn-primary" type="button">На головну</button></a>
                            <a ng-if="$user" href="#editLibrary"><button ng-click="" style="margin-bottom: 5px" class="btn btn-primary" type="button">До редактору</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="skillData==null" style="text-align: center">
                <img src="assets/img/loading.gif"  width="120px" heidht ="120px">
            </div>

            <div ng-show="skillData == -1">
                <div class="alert alert-warning">
                    <h4><b>Увага!</b></h4>
                    <p style="margin-bottom: 10px">Не вдалося отримати компетенцію (id=<span ng-bind="getRouteParamSkillID_IndicatorCtrl()"></span>)!</p>
                    <a href="#main"><button class="btn btn-primary" type="button">На головну</button></a>
                    <a ng-if="$user" href="#editLibrary"><button ng-click="" class="btn btn-primary" type="button">До редактору</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
