<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>

<body>

<!-- Перегляд індикатору -->
<div ng-controller="SkillsCtrl">
    <div ng-init="getSkillName(getCurrentSkillIdIndicatorCtrl())"></div>
    <div ng-if="data[0].skill_name">
        <div class="row padded">
            <div class="col-lg-1 col-xs-1"></div>
            <div class="col-lg-10 col-xs-10">
                <div class="thumbnail">
                    <h2>Компетенція:</h2>
                    <h3 ng-bind="data[0].skill_name"></h3>

                    <div ng-controller="IndicatorsCtrl">
                        <div ng-init="getIndicator(getCurrentIndicatorId())"></div>
                        <div ng-if="data[0].indicators[0].indicator_name">
                            <h2>Інформація про індикатор:</h2>
                            <h3 ng-bind="data[0].indicators[0].indicator_name"></h3>
                            <h4>Опис: {{descriptionText}}</h4>
                        </div>
                        <div ng-if="data[0].indicators[0].indicator_name == null">
                            <h4>Індикатор (id={{getCurrentIndicatorId()}}) компетенції (id={{getCurrentSkillIdIndicatorCtrl()}}) не знайдено!</h4>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px" class="btn-group">
                        <a href="#skill/{{getCurrentSkillIdIndicatorCtrl()}}/show"><button class="btn btn-primary" type="button">Назад</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-xs-1"></div>
        </div>
    </div>

    <div ng-if="data[0].skill_name == null">
        <h4>Компетенцію (id={{getCurrentSkillIdIndicatorCtrl()}}) не знайдено!</h4>
        <div style="margin-bottom: 20px" class="btn-group">
            <a href="#main"><button class="btn btn-primary" type="button">Назад</button></a>
        </div>
    </div>
</div>

</body>
</html>
