<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>

<body>

<div ng-controller="GroupsCtrl">

    <div ng-if="$user">
        <!-- Додання нової групи -->
        <h2>Створення нової групи:</h2>

        <div ng-init="getGroupTree()"></div>

        <input style="margin-bottom: 10px" type="text" class="form-control" placeholder="Назва групи" ng-model="nameText">
        <textarea class="form-control" rows="5" style="margin-bottom: 10px" placeholder="Опис" ng-model="descriptionText"></textarea>
        <div class="input-group" style="margin-bottom: 10px">
            <input type="text" class="form-control" placeholder="Коренева група" ng-model="groupText">
            <div class="input-group-btn">
                <button class="btn btn-primary" ng-click="show=!show">{{onClickSelectCurrentGroup(show)}}</button>
            </div>
        </div>

        <div style="overflow-y: scroll; height: 200px" ng-show="show"><div id="tree"></div></div>

        <div style="margin-bottom: 20px"></div>

        <div style="margin-bottom: 20px" class="btn-group">
            <a href="#main"><button ng-click="saveGroup(nameText, $currentGroup.right_key, $currentGroup.node_level, descriptionText, -1, $user.id);" class="btn btn-primary" type="button">Створити</button></a>
            <a href="#main"><button ng-click="" class="btn btn-primary" type="button">Назад</button></a>
        </div>

    </div>

    <div ng-if="!$user">
        <div class="alert alert-info">
            <h4><b>Попередження!</b></h4>
            <p style="margin-bottom: 20px">Вибачте, дана сторінка не доступна для Вас. Щоб переглянути її, увійдіть в систему.</p>
            <a href="#main"><button class="btn btn-primary" type="button">Назад</button></a>
        </div>
    </div>

</div>

</body>
</html>
