<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Бібліотека компетенцій</title>

    <base href="/"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">

</head>
<body ng-app="MainApp">
    <div ng-controller="UsersController">
        <div class="page-header">
            <div class="row padded">
                <div class="col-lg-2 col-xs-3">
                    <div ng-if="$user">
                        <div class="btn-group">
                            <a href="#editUserInfo"><button class="btn btn-primary" type="button">Edit</button></a>
                            <a href="#actions"><button class="btn btn-primary" type="button">Actions <span class="badge badge-important">6</span></button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-6">
                    <a href="#main"><h1 class="text-center">Бібліотека компетенцій</h1></a>
                </div>
                <div class="col-lg-2 col-xs-3">
                    <div style="margin-right: 20px">
                        <div class="row padded">
                            <div class="col-lg-6 col-xs-6">
                                <p ng-if="$user">{{$user.firstName}} {{$user.secondName}}</p>
                            </div>
                            <div class="col-lg-6 col-xs-6">
                                <button ng-if="$user" ng-click="logout()" class="btn btn-primary" type="button">Log out</button>
                                <a ng-if="!$user" href="#login"><button class="btn btn-primary" type="button">Log in</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="background-color: white" class="container">
            <ng-view></ng-view>
        </div>

        <h5 style="text-align: center">Вінниця, 2017</h5>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>

    <script src="app/main.js"></script>
    <script src="app/factories.js"></script>
    <script src="app/mainController.js"></script>
    <script src="app/usersController.js"></script>
    <script src="app/groupsController.js"></script>
    <script src="app/skillsController.js"></script>
    <script src="app/indicatorsController.js"></script>
    <script src="app/actionsController.js"></script>
</body>
</html>