<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Бібліотека компетенцій</title>

    <base href="/"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">

</head>
<body ng-app="MainApp"> <!--background="assets/img/background.jpg"-->

    <div ng-controller="UserCtrl">
        <div class="page-header">
            <h1 class="text-center">Бібліотека компетенцій</h1>
        </div>

        <p style="text-align: right" ng-if="getUserId()!=null">Administrator mode</p>
        <div style="text-align: right; margin-right: 20px">
            <button ng-click="logIn()" class="btn btn-primary" type="button">{{buttonText}}</button>
        </div>

        <div class="container">
            <ng-view></ng-view>
        </div>

        <h5 style="text-align: center">Вінниця, 2017</h5>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>

    <script src="app/main.js"></script>
    <script src="app/factories.js"></script>
    <script src="app/userController.js"></script>
    <script src="app/mainController.js"></script>
</body>
</html>