<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="row">
    <div class="col-md-4 col-sm-2 col-xs-0"></div>
    <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="row" style="margin-top: 80px">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center">
                <img ng-src="assets/img/oops.jpg" width="100px" heidht ="100px">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h3 style="text-align: center">Oops..( Page not found. Error 404</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-2 col-xs-0"></div>
</div>
</body>
</html>