<!DOCTYPE html>
<head>

</head>
<body>

    <div ng-controller="MainCtrl">

        <h1>Main page</h1>

        <div style="margin-bottom: 10px">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Add <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#editSkill" ng-click="setGlobalEditParams('ALL_SKILLS', 'ALL_INDICATORS', 'ALL_GROUPS', 4)">Add skill</a></li>
                    <li><a href="#editGroup" ng-click="setGlobalEditParams('ALL_SKILLS', 'ALL_INDICATORS', 'ALL_GROUPS', 6)">Add group</a></li>
                </ul>
            </div>

            <a href="#main"><button ng-click="" class="btn btn-primary" type="button">Import</button></a>

            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Export <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#main" ng-click="exportAllData('JSON')">to JSON</a></li>
                    <li><a href="#main" ng-click="exportAllData('XLS')">to Excel</a></li>
                </ul>
            </div>
        </div>


        <div ng-init="getAllData(); getGroupTree(); getSkillList()"></div>

        <div class="row padded">
            <div class="col-lg-8 col-xs-8">
                <div ng-repeat="item_skill in data">
                    <div class="thumbnail">
                        <div class="row padded">
                            <div class="col-lg-5 col-xs-12">
                                <h4>{{item_skill.skill_name}}</h4>
                            </div>
                            <div class="col-lg-5 col-xs-12">
                                <div  ng-repeat="item_indicator in data[$index].indicators">
                                    <ul>
                                        <li>{{item_indicator.indicator_name}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-12">
                                <div class="input-group-btn">
                                    <a href="#editSkill"><button ng-click="setGlobalEditParams(item_skill.id, 'ALL_INDICATORS', 'ALL_GROUPS', 1)" class="btn btn-primary" type="button">E</button></a>
                                    <a href="#main"><button ng-click="removeSkill(item_skill.id);" class="btn btn-danger" type="button">D</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--TREE-->
            <div class="col-lg-4 col-xs-4">Дерево каталогів
                <div id="tree"></div>

                <a href="#"><button ng-click="" class="btn btn-primary" type="button">E</button></a>
                <a href="#main"><button ng-click="removeGroup(currentGroup.id);" class="btn btn-danger" type="button">D</button></a>
            </div>
        </div>
    </div>

</body>
</html>
