<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
</head>
<body>

    <div ng-controller="MainCtrl">

        <h1>Main page</h1>

        <div ng-init="getAllData()"></div>

        <div ng-repeat="item_skill in skills">
            <h4>{{item_skill.skill_name}}</h4>
            <div ng-repeat="item_indicator in indicators">
                <div ng-if="item_indicator.skill_id == item_skill.id">{{item_indicator.indicator_name}}</ng-if>
            </div>
        </div>

    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>

    <script src="app/main.js"></script>
    <script src="app/factories.js"></script>
    <script src="app/controllers.js"></script>

</body>
</html>
