<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
</head>
<body>

    <div ng-controller="MainCtrl">

        <h1>Main page</h1>

        <div style="margin-bottom: 10px" class="btn-group">
            <a href="#editSkill"><button ng-click="setGlobalEditParams('ALL_SKILLS', 'ALL_INDICATORS', 'ALL_GROUPS', 4)" class="btn btn-primary" type="button">Add skill</button></a>
            <a href="#editGroup"><button ng-click="setGlobalEditParams('ALL_SKILLS', 'ALL_INDICATORS', 'ALL_GROUPS', 6)" class="btn btn-primary" type="button">Add group</button></a>
            <a href="#"><button ng-click="" class="btn btn-primary" type="button">Import</button></a>
            <a href="#"><button ng-click="exportAllData('JSON')" class="btn btn-primary" type="button">Export</button></a>
        </div>

        <div ng-init="getAllData(); getGroupTree(); getSkillList()"></div>

        <div class="row padded">
            <div class="col-lg-8 col-xs-8">
                <div ng-repeat="item_skill in data">
                    <div class="thumbnail">
                        <div class="row padded">

                            <div class="col-lg-5 col-xs-5">
                                <h4>{{item_skill.skill_name}}</h4>
                            </div>
                            <div class="col-lg-5 col-xs-5">
                                <div  ng-repeat="item_indicator in data[$index].indicators">
                                    {{item_indicator.indicator_name}}
                                </div>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <div class="input-group-btn">
                                    <a href="#editSkill"><button ng-click="setGlobalEditParams(item_skill.id, 'ALL_INDICATORS', 'ALL_GROUPS', 1)" class="btn btn-primary" type="button">E</button></a>
                                    <a href="#"><button ng-click="removeSkill(item_skill.id)" class="btn btn-danger" type="button">D</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="background-color: #2aabd2" class="col-lg-4 col-xs-4">TREE</div>
                <div ng-repeat="node in tree">
                    <div ng-if="node.node_type==0"><b>{{node.skill_name}}({{node.node_level}})</b></div>
                    <div ng-if="node.node_type==1">{{node.skill_name}}({{node.node_level}})</div>
                </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery-1.11.1.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="app/main.js"></script>
    <script src="app/factories.js"></script>
    <script src="app/controllers.js"></script>

</body>
</html>
