<!DOCTYPE html>
<head>

</head>
<body>

    <div ng-controller="MainCtrl" ng-init="$pagination.enabled = false; $pagination.pageSize = 10; $pagination.page = 1;">
        <div class="thumbnail">
            <div class="row" style="margin: 0px">
                <h1 style="text-align: center">Головна сторінка</h1>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4" style="margin: 0px">
                    <div ng-controller="GroupsCtrl">
                        <div ng-init="getGroupTreeForMainPage();"></div>
                        <!--TREE-->
                        <h3>Каталоги бібліотеки</h3>
                        <div id="editTreeNodeButtons" style="margin-bottom: 10px; display: none">
                            <a ng-if="$user" id="editItemButton" href="#group/{{getSelectGroupID()}}/edit" ng-click=""><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
                            <button ng-if="$user" ng-controller="ActionsCtrl" ng-click="prepareGroupToRemove($currentGroup.id, $currentGroup.name, 0, $currentGroup.user_id, $user.id);" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                        <div ng-if="$tree==null" style="text-align: center">
                            <img src="assets/img/loading.gif"  width="120px" heidht ="120px">
                        </div>
                        <div ng-if="$tree==-1" style="text-align: center">
                            Не вдалось отримати дерево каталогів. Перезавантажте, будь ласка, сторінку.
                        </div>
                        <div id="tree"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">

                    <div style="margin-bottom: 10px">
                        <div ng-if="$user" style="margin-bottom: 5px" class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Додати <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#skill/create">компетенцію</a></li>
                                <li><a href="#group/create">групу</a></li>
                            </ul>
                        </div>

                        <div class="btn-group" style="margin-bottom: 5px">
                            <a ng-if="$user" class="btn-group" href="#upload"><button ng-click="" class="btn btn-primary" type="button">Імпортувати...</button></a>

                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Експортувати... <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="showProgress = !showProgress; exportAllData('JSON', $currentGroup.id)">в формат JSON</a></li>
                                    <li><a href="" ng-click="showProgress = !showProgress; exportAllData('XLS', $currentGroup.id)">в формат MS Excel</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="btn-group" style="margin-bottom: 5px">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Вид... <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#main" ng-click="$pagination.enabled = true">
                                        Сторінки
                                    </a>
                                </li>
                                <li>
                                    <a href="#main" ng-click="$pagination.enabled = false">
                                        Список
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a ng-if="$user" href="#editLibrary"><button style="margin-bottom: 5px" class="btn btn-success" type="button">Редактор бібліотеки <span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></button></a>
                    </div>

                    <div class="progress" ng-if="showProgress">
                        <div class="progress-bar progress-bar-striped active" role = "progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            Експорт файлу...
                        </div>
                    </div>

                    <div class="input-group" style="margin-bottom: 10px">
                        <input type="text" class="form-control" type="text" ng-model="searchText" placeholder="Пошук по назві, користувачу, групі, індикатору...">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div ng-controller="SkillsCtrl">
                        <div ng-init="getAllSkills();"></div>

                        <div ng-if="skillData==null" style="text-align: center">
                            <img src="assets/img/loading.gif"  width="120px" heidht ="120px">
                        </div>

                        <div ng-if="skillData!=null && skillData!=-1">
                            <div ng-if="$pagination.enabled">
                                <ul class="pager">
                                    <button ng-disabled="$pagination.page==1" ng-click="$pagination.page = $pagination.page-1;" style="padding: 0px; border-radius: 16px; border-color: #0f5f9f; height: 32px; width: 45px" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
                                    <span style="padding: 10px" ng-bind="'Сторінка: ' + $pagination.page + ' / ' + pageCount((skillData | filter : skillsFilter).length)"></span>
                                    <!--input type="text" class="form-control" style="height: 32px; width: 60px"-->
                                    <button ng-disabled="((skillData | filter : skillsFilter).length - ($pagination.pageSize * $pagination.page)) <= 0" ng-click="$pagination.page = $pagination.page+1;" style="padding: 0px; border-radius: 16px; border-color: #0f5f9f; height: 32px; width: 45px" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                </ul>
                                <h4 ng-if="$currentGroup" ng-bind="'Група: ' + $currentGroup.name"></h4>
                                <div ng-repeat="item_skill in skillData | filter : skillsFilter | limitTo: $pagination.pageSize : (($pagination.page - 1) * $pagination.pageSize)">
                                    <div class="panel panel-info">
                                        <div class="panel-body" style="padding: 5px">
                                            <div class="row">
                                                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                                    <h4><span ng-bind="((($pagination.page - 1) * $pagination.pageSize) + $index+1) + '. '"></span><a href="#skill/{{item_skill.id}}/show"><span ng-bind="item_skill.name"></span></a></h4>
                                                </div>
                                                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                                    <div ng-if="$user">
                                                        <a href="#skill/{{item_skill.id}}/edit"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
                                                        <button ng-controller="ActionsCtrl" ng-click="prepareSkillToRemove(item_skill.id, item_skill.name, 0, item_skill.user_id, $user.id);" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <p ng-if="item_skill.description" style="margin-left: 15px"><span><b>Опис: </b></span><span ng-bind="item_skill.description"></span></p>
                                                <div class="col-lg-5 col-xs-12">
                                                    <p><span><b>Група: </b></span><span ng-bind="item_skill.path"></span></p>
                                                    <p><span><b>Користувач: </b></span><span ng-bind="item_skill.user"></span></p>
                                                </div>
                                                <div class="col-lg-7 col-xs-12">
                                                    <p ng-if="item_skill.indicators.length != 0"><b>Індикатори:</b></p>
                                                    <div ng-repeat="item_indicator in item_skill.indicators">
                                                        <ul>
                                                            <li><a href="#skill/{{item_skill.id}}/indicator/{{item_indicator.id}}/show"><span ng-bind="item_indicator.name"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="(skillData | filter : skillsFilter).length == 0">
                                    <h4>Компетенцій по даному критерію не знайдено...</h4>
                                </div>
                                <ul class="pager">
                                    <button ng-disabled="$pagination.page==1" ng-click="$pagination.page = $pagination.page-1;" style="padding: 0px; border-radius: 16px; border-color: #0f5f9f; height: 32px; width: 45px" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
                                    <span style="padding: 10px" ng-bind="'Сторінка: ' + $pagination.page + ' / ' + pageCount((skillData | filter : skillsFilter).length)"></span>
                                    <!--input type="text" class="form-control" style="height: 32px; width: 60px"-->
                                    <button ng-disabled="((skillData | filter : skillsFilter).length - ($pagination.pageSize * $pagination.page)) <= 0" ng-click="$pagination.page = $pagination.page+1;" style="padding: 0px; border-radius: 16px; border-color: #0f5f9f; height: 32px; width: 45px" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                </ul>
                            </div>

                            <!--ACTUAL-->
                            <div ng-if="!$pagination.enabled">
                                <h4 ng-if="$currentGroup" ng-bind="'Група: ' + $currentGroup.name"></h4>
                                <div ng-repeat="item_skill in skillData | filter : skillsFilter">
                                    <div class="panel panel-info">
                                        <div class="panel-body" style="padding: 5px">
                                            <div class="row">
                                                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                                    <h4><span ng-bind="($index+1) + '. '"></span><a href="#skill/{{item_skill.id}}/show"><span ng-bind="item_skill.name"></span></a></h4>
                                                </div>
                                                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                                    <div ng-if="$user">
                                                        <a href="#skill/{{item_skill.id}}/edit"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
                                                        <button ng-controller="ActionsCtrl" ng-click="prepareSkillToRemove(item_skill.id, item_skill.name, 0, item_skill.user_id, $user.id);" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <p ng-if="item_skill.description" style="margin-left: 15px"><span><b>Опис: </b></span><span ng-bind="item_skill.description"></span></p>
                                                <div class="col-lg-5 col-xs-12">
                                                    <p><span><b>Група: </b></span><span ng-bind="item_skill.path"></span></p>
                                                    <p><span><b>Користувач: </b></span><span ng-bind="item_skill.user"></span></p>
                                                </div>
                                                <div class="col-lg-7 col-xs-12">
                                                    <p ng-if="item_skill.indicators.length != 0"><b>Індикатори:</b></p>
                                                    <div ng-repeat="item_indicator in item_skill.indicators">
                                                        <ul>
                                                            <li><a href="#skill/{{item_skill.id}}/indicator/{{item_indicator.id}}/show"><span ng-bind="item_indicator.name"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="(skillData | filter : skillsFilter).length == 0">
                                    <h4>Компетенцій по даному критерію не знайдено...</h4>
                                </div>
                            </div>
                        </div>
                        <div ng-if="skillData == -1">
                            Не вдалося отримати компетенції. Будь ласка, спробуйте перезавантажити сторінку.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
