<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>

<body>

<div ng-controller="MainCtrl">

    <!-- Редагування компетенції -->
    <div ng-if="getGlobalEditMode()==1">

        <div ng-init="getGroupTree(); getSkill(); show=0"></div>
        <h2>Редагування компетенції:</h2>
        <h3 ng-bind="data[0].skill_name"></h3>

        <input style="margin-bottom: 10px" type="text" class="form-control" placeholder="Компетенція" ng-model="nameText">
        <input style="margin-bottom: 10px" type="text" class="form-control" placeholder="Опис" ng-model="descriptionText">
        <div class="input-group" style="margin-bottom: 10px">
            <input type="text" class="form-control" type="text" class="form-control" placeholder="Група" ng-model="groupText">
            <div class="input-group-btn">
                <button class="btn btn-primary" ng-click="show=!show">{{changeButtonTextSelectFromTree(show)}}</button>
            </div>
        </div>

        <div style="overflow-y: scroll; height: 200px" ng-show="show"><div id="tree"></div></div>

        <div style="margin-bottom: 20px"></div>

        <div style="margin-bottom: 20px" class="btn-group">
            <a href="#main"><button ng-click="saveSkill(nameText, currentGroup.right_key, currentGroup.node_level, descriptionText, data[0].id)" class="btn btn-primary" type="button">Зберегти</button></a>
            <a href="#main"><button ng-click="" class="btn btn-primary" type="button">Скасувати</button></a>
        </div>

        <h3>Список індикаторів:</h3>

        <div class="thumbnail">

            <div ng-if="data[0].indicators.length == 0">
                <h5>Дана компетенція не містить в собі індикаторів</h5>
            </div>

            <div ng-repeat="item_indicator in data[0].indicators">
                <div style="margin: 5px">
                    <div class="row padded">
                        <div class="col-lg-10 col-xs-10">
                            <a href="#indicator" ng-click="setGlobalEditParams(data[0].id, item_indicator.id, 'ALL_GROUPS', 8);"><h4>{{item_indicator.indicator_name}}</h4></a>
                            <h5>{{item_indicator.description}}</h5>
                        </div>
                        <div class="col-lg-2 col-xs-2">
                            <div class="input-group-btn">
                                <a href="#indicator"><button ng-click="setGlobalEditParams(data[0].id, item_indicator.id, 'ALL_GROUPS', 2);" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
                                <a href="#skill"><button ng-click="removeIndicator(item_indicator.id); getSkill()" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#indicator"><button ng-click="setGlobalEditParams(getGlobalSkillId(), -1, 'ALL_GROUPS', 5); saveAdditionalData(data[0].skill_name)" class="btn btn-primary" type="button">Додати індикатор</button></a>
    </div>

    <!-- Додання нової компетенції -->
    <div ng-if="getGlobalEditMode()==4">

        <h2>Створення нової компетенції:</h2>

        <div ng-init="getGroupTree()"></div>

        <input style="margin-bottom: 10px" type="text" class="form-control" placeholder="Компетенція" ng-model="nameText">
        <input style="margin-bottom: 10px" type="text" class="form-control" placeholder="Опис" ng-model="descriptionText">

        <div class="input-group" style="margin-bottom: 10px">
            <input type="text" class="form-control" placeholder="Група" ng-model="groupText">
            <div class="input-group-btn">
                <button class="btn btn-primary" ng-click="show=!show">{{changeButtonTextSelectFromTree(show)}}</button>
            </div>
        </div>

        <div style="overflow-y: scroll; height: 200px" ng-show="show"><div id="tree"></div></div>

        <div style="margin-bottom: 20px"></div>

        <div style="margin-bottom: 20px" class="btn-group">
            <a href="#main"><button ng-click="saveSkill(nameText, currentGroup.right_key, currentGroup.node_level, descriptionText, -1);" class="btn btn-primary" type="button">Створити</button></a>
            <a href="#main"><button ng-click="" class="btn btn-primary" type="button">Назад</button></a>
        </div>

    </div>

    <!-- Перегляд компетенції -->
    <div ng-if="getGlobalEditMode()==7">

        <div ng-init="getGroupTree(); getSkill()"></div>
        <h2>Інформація про компетенцію:</h2>
        <h3 ng-bind="data[0].skill_name"></h3>

        <h4>Опис: {{descriptionText}}</h4>
        <h4>Група: {{groupText}}</h4>

        <a href="#main"><button ng-click="" class="btn btn-primary" type="button">Назад</button></a>

        <h3>Список індикаторів:</h3>

        <div class="thumbnail">

            <div ng-if="data[0].indicators.length == 0">
                <h5>Дана компетенція не містить в собі індикаторів</h5>
            </div>

            <div ng-repeat="item_indicator in data[0].indicators">
                <div style="margin: 5px">
                    <div class="row padded">
                        <div class="col-lg-10 col-xs-10">
                            <a href="#indicator" ng-click="setGlobalEditParams(data[0].id, item_indicator.id, 'ALL_GROUPS', 8);"><h4>{{item_indicator.indicator_name}}</h4></a>
                            <h5>{{item_indicator.description}}</h5>
                        </div>
                        <div class="col-lg-2 col-xs-2">
                            <!--div class="input-group-btn">
                                <a href="#indicator"><button ng-click="setGlobalEditParams(data[0].id, item_indicator.id, 'ALL_GROUPS', 2);" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a>
                                <a href="#skill"><button ng-click="removeIndicator(item_indicator.id); getSkill()" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>
