<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>
<body>
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="thumbnail">
            <div ng-if="!$user" style="margin: 10px; margin-left: 20px; margin-right: 20px">
                <div ng-controller="UsersController">
                    <div class="form-group">
                        <label>Електронна пошта</label>
                        <input type="text" ng-model="user.login" class="form-control" id="login" placeholder="Логін">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Пароль">
                    </div>
                    <p style="font-size: 13px">Якщо у Вас немає облікового запису в системі, то Вам потрібно <a href="#registration"><u>зареєструватися</u></a>.</p>

                    <button ng-click="login()" style="margin-bottom: 5px; width: 100px" class="btn btn-success">Увійти</button>
                    <a href="#main"><button style="margin-bottom: 5px" class="btn btn-primary">На головну сторінку</button></a>

                    <div id="messageBox" style="display: none; margin-top: 20px" ng-class="messageBoxClass">
                        <button id="closeMessageBoxButton" type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4><b ng-bind="messageTitleText"></b></h4>
                        <p ng-bind="messageText"></p>
                    </div>
                </div>
            </div>
            <div ng-if="$user" style="margin-top: 20px; margin-left: 20px; margin-right: 20px">
                <div class="alert alert-info">
                    <h4><b><span ng-bind="'Вітаємо, ' + $user.firstName + ' ' + $user.secondName + '!'"></span></b></h4>
                    <p style="margin-bottom: 20px">Ви авторизовані у системі!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0"></div>
</div>
</body>
</html>