<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>

<body>
<div class="thumbnail">
    <div ng-if="$user" style="margin: 10px; margin-left: 20px; margin-right: 20px">
        <div ng-controller="GroupsCtrl">
            <div ng-init="getGroupTree(); getGroup(getRouteParamGroupID_GroupCtrl(), 1);"></div>

            <div ng-if="groupData[0].node_level == 1">
                <div class="alert alert-info">
                    <h4><b>Увага!</b></h4>
                    <p style="margin-bottom: 10px">Не можливо редагувати кореневу групу!</p>
                    <a href="#main"><button class="btn btn-primary" type="button">На головну</button></a>
                    <a href="#editLibrary"><button ng-click="" class="btn btn-primary" type="button">До редактору</button></a>
                </div>
            </div>

            <div ng-show="groupData != null && groupData != -1 && groupData[0].node_level != 1">
                <!-- Редагування групи -->
                <h2>Редагування групи:</h2>
                <h3 ng-bind="groupData[0].name"></h3>
                <h4 ng-bind="'Користувач: ' + groupData[0].user"></h4>
                <h4 ng-bind="'Група: ' + groupData[0].path"></h4>
                <h4 ng-bind="'Створено: ' + groupData[0].creation_date"></h4>

                <input style="margin-bottom: 10px" type="text" class="form-control" placeholder="Назва групи" ng-model="nameText">
                <textarea class="form-control" rows="5" style="margin-bottom: 10px" placeholder="Опис" ng-model="descriptionText"></textarea>

                <div class="input-group" style="margin-bottom: 10px">
                    <input type="text" id="groupText" readonly class="form-control" placeholder="Коренева група" ng-model="groupText">
                    <div class="input-group-btn">
                        <button id="toggleButton" class="btn btn-primary" ng-click="show=!show"><span ng-bind="onClickSelectCurrentGroup(show)"></span></button>
                    </div>
                </div>

                <div id="toggleBox" style="display: none; overflow-y: scroll; height: 200px"><div id="tree"></div></div>

                <div style="margin-bottom: 20px"></div>

                <button style="width: 150px" ng-controller="ActionsCtrl" ng-click="prepareGroupToUpdate(groupData[0].id, groupData[0].name, nameText, descriptionText, $currentGroup.id, groupData[0].user_id, $user.id);" class="btn btn-success" type="button">Зберегти</button>

                <div id="messageBox" style="display: none; margin-top: 10px" ng-class="messageBoxClass">
                    <button id="closeMessageBoxButton" type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4><b ng-bind="messageTitleText"></b></h4>
                    <p ng-bind="messageText"></p>
                </div>

            </div>

            <div ng-if="groupData==null" style="text-align: center">
                <img src="assets/img/loading.gif"  width="120px" heidht ="120px">
            </div>

            <div ng-if="groupData == -1">
                <div class="alert alert-warning">
                    <h4><b>Увага!</b></h4>
                    <p style="margin-bottom: 10px">Не вдалося отримати групу (id=<span ng-bind="getSelectGroupID()"></span>)!</p>
                    <a href="#main"><button class="btn btn-primary" type="button">На головну</button></a>
                    <a href="#editLibrary"><button ng-click="" class="btn btn-primary" type="button">До редактору</button></a>
                </div>
            </div>
        </div>

        <div ng-if="!$user" style="margin: 20px">
            <div class="alert alert-info">
                <h4><b>Попередження!</b></h4>
                <p style="margin-bottom: 10px">Вибачте, дана сторінка недоступна для Вас. Щоб переглянути її, <a href="#login"><u>увійдіть</u></a> в систему.</p>
                <a href="#main"><button class="btn btn-primary" type="button">На головну</button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
